@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap');
$montserrat: 'Montserrat', sans-serif;
$fraunces:'Fraunces', serif;
$cyan:hsl(158, 36%, 37%);
$cream:hsl(30, 38%, 92%);
$darkGrayishBlue:hsl(228, 12%, 48%);
$veryDarkBlue:hsl(212, 21%, 14%);
$white:hsl(0, 0%, 100%);